<div class="left side-menu">

  <div class="slimscroll-menu" id="remove-scroll">

    <div class="logo">
      <%= link_to image_tag('netsvs_logo.png'), root_path, :style => "height: 44px;" %>
      <p class="text-muted">Graduating from the halls of the University Of Western Sydney in late 2011. </p>
    </div>

    <!--- Sidemenu -->
    <div id="sidebar-menu">
      <!-- Left Menu Start -->
      <ul class="metismenu" id="side-menu">

        <li>
          <%= link_to root_path do %>
            <span> Home</span>
          <% end %>
        </li>

        <li>
          <a href="javascript: void(0);"><span> Features </span></a>
        </li>
        <li>
          <a href="javascript: void(0);"><span> Music </span></a>
        </li>

        <li>
            <a href="javascript: void(0);">About</a>
        </li>

        <li>
            <a href="javascript: void(0);">Contact</a>
        </li>

      </ul>

      <div class="copyright-box">
        <p>2018 © NETSVS. </p>
      </div>

    </div>
    <!-- Sidebar -->
    <div class="clearfix"></div>

  </div>

</div>