<div class="left side-menu">

  <div class="slimscroll-menu" id="remove-scroll">

    <div class="logo">
      <a href="index.html.erb"><img src="logo.png" alt="" class="" style="height: 44px;"></a>
      <p class="text-muted">Graduating from the halls of the University Of Western Sydney in late 2011. </p>
    </div>

    <!--- Sidemenu -->
    <div id="sidebar-menu">
      <!-- Left Menu Start -->
      <ul class="metismenu" id="side-menu">

        <li>
          <a href="index.html.erb"><span> Home</span></a>
        </li>

        <li>
          <a href="javascript: void(0);"><span> Features </span></a>
          <ul class="nav-second-level" aria-expanded="false">
            <li><a href="standard-post.html">Standard Post</a></li>
          </ul>
        </li>

        <li>
          <a href="javascript: void(0);"><span> Lifestyle </span></a>
        </li>

        <li>
          <a href="javascript: void(0);"><span> Travel </span></a>
        </li>

        <li>
          <a href="javascript: void(0);"><span> Music </span></a>
        </li>

        <!--                            <li>-->
        <!--                                <a href="about.html">About</a>-->
        <!--                            </li>-->

        <!--                            <li>-->
        <!--                                <a href="contact.html">Contact</a>-->
        <!--                            </li>-->

      </ul>

      <div class="copyright-box">
        <p>2017 © NetSVS. </p>
      </div>

    </div>
    <!-- Sidebar -->
    <div class="clearfix"></div>

  </div>
  <!-- Sidebar -left -->

</div>