<h1> Show Post</h1>

 <section>
  <div class="container">
    <h3 class="title">
      <%= @post.title %>
    </h3>
  </div>

   <% @post.files.each do |file| %>
   <div class="container">
     <%= link_to file do %>
       <%= image_tag file.variant(resize: "200x200") %>
     <%end %>
   </div>
   <% end %>

  <div class="container">
      <%= @post.content %>
  </div>
 </section>